@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .heading {
    @apply uppercase bg-gray-800 px-6 py-3  font-extrabold text-gray-100 sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }
  .blue-container {
    @apply bg-blue-300 text-gray-800 w-full flex justify-center items-center min-h-[530px] flex-col py-10 px-6;
  }
  .sub-heading {
    @apply font-medium text-[20px] text-gray-800 max-w-2xl text-center break-words;
  }

  .search-form {
    @apply max-w-3xl  min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }
  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
