@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .heading {
    @apply uppercase bg-gray-800 px-6 py-3  font-extrabold text-gray-100 sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }
  .blue-container {
    @apply bg-blue-300 text-gray-800 w-full flex justify-center items-center min-h-[530px] flex-col py-10 px-6;
  }
  .sub-heading {
    @apply font-medium text-[20px] text-gray-800 max-w-2xl text-center break-words;
  }

  .search-form {
    @apply max-w-3xl min-h-[70px] bg-white border-[5px] border-black rounded-[20px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  /* Buttons */

  .button-gray {
    @apply bg-gray-800 text-white px-4 py-2 rounded transition-colors duration-300 hover:bg-gray-300 active:bg-gray-400;
  }
  /* .button-blue {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300;
  } */
  .button-green {
    @apply bg-green-600 text-white py-2 px-4 rounded hover:bg-green-500 transition duration-300;
  }
  .button-blue {
    @apply bg-blue-500 text-white px-4 py-2 rounded transition-colors duration-300 hover:bg-blue-600 active:bg-blue-700;
  }

  /* Add to cart animation */
  .animate-add-to-cart {
    animation: addToCartPulse 0.3s ease-in-out;
  }

  .add-to-cart-text,
  .add-to-cart-check {
    @apply transition-all duration-300 ease-in-out absolute;
  }

  .add-to-cart-check {
    @apply text-green-300;
  }

  @keyframes addToCartPulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  /* Cards */
  .flex-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .product-card {
    width: 300px;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
  .image-container {
    @apply w-full pt-[100%] h-[300px] relative;
  }

  .card-container {
    @apply p-4 flex-1 flex flex-col justify-between;
  }

  .card-h2 {
    @apply text-xl font-semibold mb-2 text-gray-800;
  }

  .card-p {
    @apply text-lg font-bold mb-4 text-gray-800;
  }

  .button-container {
    @apply p-4 flex gap-2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
